<!DOCTYPE html>

<html>

<head>
    <title>Error | 404</title>

    <!-- Sets width of page to fit width of screen; sets initial zoom level when page is loaded -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <!-- Import local css style file -->
    <link href="css/404.css" type="text/css" rel="stylesheet"/>

    <!-- Import of cool, external fonts: Roboto, Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
</head>


<body>
<div id="error404">
    <h1>
        <img src="http://i.imgur.com/geNpLNj.png"/>
        <span>404</span>

    </h1>
    <p>
        Oops. This page doesn't exist.<br/> Click <a href="http://sbuwebapp.com">here</a> to go back to the home page.
    </p>

</div>

</body>

</html>
