<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Error</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<h1>Opps! An error has occurred!</h1>
		<div id="created" th:text="${#dates.format(timestamp)}">July 11,
			2012 2:17:16 PM CDT</div>
		<div>
			There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).
		</div>
		<div th:text="${message}">Fake content</div>
		<div>
			Please contact the operator with the above information.
		</div>
	</div>
</body>
</html> -->


<!DOCTYPE html>

<html>

<head>
	<title>Error</title>

	<!-- Sets width of page to fit width of screen; sets initial zoom level when page is loaded -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

	<!-- Import local css style file -->
	<link href = "css/error.css" type = "text/css" rel = "stylesheet" />

	<!-- Import of cool, external fonts: Roboto, Raleway -->
	<link href = "https://fonts.googleapis.com/css?family=Roboto" rel = "stylesheet">
	<link href = "https://fonts.googleapis.com/css?family=Raleway" rel = "stylesheet">
</head>


<body>
<div id = "general-error">
	<h1>
		<img src = "http://i.imgur.com/xiEdJso.png" />
		<span>Oops.</span>

	</h1>
	<p>
		An error as occurred:
		<span th:text="${status}">500</span>
		<span th:text="${error}">Bad Request</span> <br />
		Click <a href = "http://sbuwebapp.com">here</a> to go back to the home page.
	</p>

</div>

</body>

</html>
