* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: Raleway, Roboto, sans-serif;
  font-weight: 100;
  background-color: rgb(242, 242, 242);
}

html, body {
  height: 100%;
}

a:link {
  text-decoration: none;
}

img {
  width: 4%;
  margin-right: 7px;
}

#verified {
  text-align: center;
  height: 100%
}

#verified h1 {

  padding-top: 250px;
  padding-left: auto;
  padding-right: auto;

  font-size: 80px;
  font-weight: 900;
}

#verified p {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;

  max-width: 100%;

  font-size: 30px;
}
