<!DOCTYPE html>

<html>
    <head>
        <title>Validate Email</title>

        <!-- Import of cool, external fonts: Roboto, Raleway -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>
    </head>

    <style>
        h1 {
            font-family: Roboto, sans-serif;
        }

        h3 {
            font-family: Raleway, sans-serif;
        }

        img {
            text-align: middle;
        }
    </style>

<body>
    <img src = "http://i.imgur.com/WdziOsO.jpg">
    <br/>
    <h1>Hey, You submitted an idea!</h1>

    <h3>Before we can accept your idea, please verify your email by clicking the button below:</h3>
    <br/>
    <a href="$url">Verify Email</a>
</body>

</html>